:root {
    --primary-font-family: "Roboto", sans-serif;
    --secondary-font-family: "Raleway", sans-serif;
    --primary-text-main: #212121;
    --secondary-text-main: #757575;
    --accent-color: #2196f3;
    --text-hero-footer: #ffffff;
}