/*======Форма модального окна======*/

.modal-title {
    display: block;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 12px;
}

.modal-form__group {
    position: relative;
    display: block;
    margin-bottom: 10px;
}

.modal-form__label {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.modal-form__input {
    width: 100%;
    padding: 12px 15px 12px 45px;
    border: 1px solid rgba(104, 40, 40, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
        outline: 0;
        border-color: #2196F3;
     }
}

.modal-form__icon {
    position: absolute;
    bottom: 13px;
    left: 15px;
    color: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

     .modal-form__group:hover &,
     .modal-form__group:focus & {
        fill: #2196F3; 
     }
}



.modal-form__textarea {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    height: 120px;
    padding: 12px 16px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: transparent;
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
        border: 1px solid #2196F3;
  }
    
     &::placeholder {
        font-style: normal;
        font-weight: 400;
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
  }
}

.modal-form__policy-group {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
}

.modal-form__custom-checkbox {
    width: 16px;
    height: 15px;
    margin-right: 9px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    outline: 2px solid #212121;
    outline-offset: -2px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), outline 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.modal-form__checkbox:checked+.modal-form__custom-checkbox {
    background-color: #2196F3;
    outline: 2px solid #2196F3;
}

.modal-form__custom-checkbox-icon {
    opacity: 0;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form__checkbox:checked+.modal-form__custom-checkbox .modal-form__custom-checkbox-icon {
    opacity: 1;
}

.modal-form__policy-desc {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.modal-form__policy-desc-link {
    color: #2196F3;
}

.modal-form__submit-btn {
    display: block;
    margin: auto;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    padding: 10px 56px;
    background-color: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: none;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
        background-color: #188CE8;
     }
}

