/*======Галерея======*/
.section.gallery.section {
  padding-top: 0px;
  display: none;

  @include mq(desktop) {
    display: block;
  }
}

.gallery__title {
  @include mq(desktop) {
    font-weight: bold;
    font-size: 36px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-main);
  }
}

.gallery__items {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.gallery__items-box {
  position: relative;
  flex-basis: calc(100% - 90px) / 3;
  margin-left: 30px;
  margin-top: 30px;
}

.gallery__img {
  background: url(close-up-image-programer-working-his-desk-office_1098-18707.jpg);
  mix-blend-mode: normal;
}

.gallery__overlay {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 370px;
  height: 70px;
  padding: 27px;

  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  background: rgba(47, 48, 58, 0.8);
  color: var(--text-hero-footer);
}
