/*====HERO=====*/

.hero {
    padding: 118px 0;
    text-align: center;
    background-color: #2f303a;
 
    @include mq(desktop) {
        padding: 200px 0; 
    }
} 

.overlay {
    max-width: 480px;
    height: 400px;
    margin-left: auto;
    margin-right: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
        url(/images/hero/hero_s.jpg);   

    @include mq(tablet) {
        max-width: 768px;
        height: 400px; 
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),    
           rgba(47, 48, 58, 0.4)),
            url(/images/hero/hero_m.jpg);
    }

    @include mq(desktop) {
        max-width: 1600px;
        height: 600px;
        background-image: linear-gradient(rgba(47, 48, 58, 0.4),
            rgba(47, 48, 58, 0.4)),
            url(/images/hero/hero_l.jpg);  
    } 

    background-size: cover;
    background-color: #C4C4C4;
    /*background-repeat: no-repeat; 
  background-position: center;*/
} 

.hero__title {
    margin-bottom: 30px;
    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: var(--text-hero-footer); 

    @include mq(desktop) { 
      font-size: 44px;
      line-height: 1.36;
    }
}

.hero__modal-btn {
    min-width: 200px;
    padding: 10px 32px;
    font-family: inherit;
    font-weight: bold;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    cursor: pointer; 
    color: var(--text-hero-footer);
    background-color: var(--accent-color);
    border-radius: 4px;
    border: none;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
     box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
     background-color: #188CE8;
     }
}
