/*======Портфолио======*/

.portfolio-list {
    display: flex;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-top: -30px;
}
 
.portfolio-list-box {  
    display: block;
    flex-basis: calc((100% - 90px) / 3);
    margin-left: 30px;
    margin-top: 30px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
       box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12),
          0px 4px 4px rgba(0, 0, 0, 0.06),
          1px 4px 6px rgba(0, 0, 0, 0.16);
     }
}

.portfolio-wrapper {
    background: #ffffff;
    padding: 20px 24px;
    border: 1px solid #eeeeee;
    
   }

.portfolio-current {   
    border: none;
    color: #ffffff;
    background-color: #2196f3;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-radius: 4px;
    text-decoration: none;
}

.portfolio-img-wrapper {
    position: relative;
    overflow: hidden; 
}

.portfolio-img {
    background: url(portfolio1.jpg);
}

.portfolio-card {
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    text-decoration: none;   

     &:hover .overlay-text,
     &:focus .overlay-text {
         transform: translateY(0);
     }
} 

.overlay-text {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    font-family: 'Roboto';
    font-size: 18px;
    line-height: 1.6;
    letter-spacing: 0.03em;
    color: #FFFFFF;
    background: rgba(33, 150, 243, 0.9);
    padding: 64px 24px;
    overflow: auto;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
} 

.portfolio-title {
    font-weight: bold;
    font-size: 18px; 
    line-height: 2;
    letter-spacing: 0.06em;
    color: var(--primary-text-main);
    margin-bottom: 4px;
   }
 
.portfolio-text { 
    font-size: 16px;
    line-height: 1.88; 
    letter-spacing: 0.03em;
    color: var(--secondary-text-main); 
    }      