/*========Сотрудники==========*/

.user-team {
    background: #f5f4fa;
}

.user-title {
    
    font-weight: bold;
    font-size: 28px;
    line-height: 1.17;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-main);

    @include mq(desktop) {
        font-size: 36px;
        line-height: 1.17; 
    }
    
} 

.users-team {

    @include mq(tablet) {
        display: flex;
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px;
    }
    
    @include mq(desktop) {
        flex-wrap: wrap;
        margin-left: -30px;
        margin-top: -30px; 
    }

}

.users-team-box {
  margin-bottom: 30px;

    @include mq(tablet) {
        flex-basis: calc((100% - 60px) / 2);
        margin-left: 30px;
        margin-top: 30px;
    }

    @include mq(desktop) {
        flex-basis: calc((100% - 120px) / 4);
        margin-left: 30px;
        margin-top: 30px;
    }
    
}

.users-team-foto { 
    background: url(4853.jpg);
    border-radius: 0px;
 
    @include mq(mobile-only) { 
        width: 450px;
        height: 460px;  
    } 
     
     
    @include mq(tablet-only) {
        width: 354px;  
        height: 374px;
    }

}

.user-team-wrapper {  
    background: #ffffff;
    padding-top: 30px;
    padding-bottom: 24px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;

    @include mq(tablet) {
        padding-top: 30px;
        padding-bottom: 24px;
    }

    @include mq(desktop) {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
 
.user-name {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--primary-text-main);
    margin-bottom: 10px;
}

.user-position {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--secondary-text-main);
    margin-bottom: 16px;
}

.social-list {
    display: flex;
    width: 206px;
    margin-left: 122px;
    margin-right: 122px;
    justify-content: space-between;

    @include mq(tablet) {
        margin-left: 74px; 
        margin-right: 74px;
    }
    
    @include mq(desktop) {
        margin-left: 32px;
        margin-right: 32px;
    }


}

.social-list-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 44px;
    height: 44px;
    color: #afb1b8;
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);

     &:hover,
     &:focus {
       background-color: var(--accent-color);
       color: #ffffff;
     }
}
 
.social-list-icon {
    fill: currentColor;
}

<!-- не уужимаэться картинка і не здвигаються соц іконки при зменшенні моб екрану-->
